/*=========================================
                 fonts source
==========================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=========================================
                Common Style
==========================================*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	background-color: #fff;
	color: #3a3a3a;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
}

.section-title {
	text-align: center;
	font-weight: 600;
	font-size: 28px;
}

/*=========================================
                  header style 
==========================================*/

#header {
	margin-top: 20px;
}
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-title {
	font-weight: 700;
	font-size: 24px;
}

.navbar ul {
	display: flex;
}
.navbar ul li {
	list-style: none;
	margin-left: 34px;
	transition: .3s all ease-in;
}
.navbar ul li a {
	text-decoration: none;
	color: #3a3a3a;
	font-weight: 600px;
	font-size: 16px;
}

.navbar ul li a:hover {
	border-bottom: 3px solid #3a3a3a;
}

.nav-icon .fas {
	margin-left: 34px;
}

/*=========================================
            Banner Section Style
==========================================*/

#main {
	margin-top: 50px;
}
.banner-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.banner-title {
	font-size: 50px;
	font-weight: 700;
	line-height: 70px;
}

.banner-left {
	width: 580px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.banner-left p {
	margin-top: 0;
}

.banner-right {
	width: 440px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-left: 20px;
}
.banner-right:hover {
	opacity: .7;
}

.banner-right img {
	width: 100%;
}

.btn {
	background-color: #e02c6d;
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	border-radius: 41px;
}
.btn span {
	margin-left: 8px;
}

.btn:hover {
	background-color: #12b0e8;
}

/*=========================================
            brands Section Style
==========================================*/

.brand-section {
	margin-top: 70px;
}

.brands {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 30px;
	box-shadow: .1px .1px 10px #00000015;
}
.brands div {
	margin-right: 60px;
}

/*=========================================
            Product Section Style
==========================================*/
.product-section {
	margin-top: 100px;
}

.products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	grid-gap: 30px;
}
.product {
	width: 330px;
	height: 475px;
	box-shadow: .1px .1px 10px #00000015;
	padding: 17px;
}
.product img {
	width: 100%;
	border-radius: 5px;
}
.product img:hover {
	opacity: .7;
}
.product-title {
	font-weight: 700;
	font-size: 28px;
	line-height: 16px;
}

.product-price {
	font-weight: 400;
	font-size: 24px;
	line-height: 3px;
}
.product-rating p {
	font-size: 14px;
}

.fa-star.filled {
	color: #ffc014;
}
.fa-star.empty {
	color: #aeaeae;
}

.see-more {
	margin-top: 10px;
	float: right;
	color: #e02c6d;
	text-decoration: none;
	margin-right: 0px;
}

/*=========================================
            Contact Section Style
==========================================*/
.contact-section {
	margin-top: 100px;
}
.contact-container {
	margin-top: 10px;
}
.contact {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.form-container {
	padding: 20px;
}
form {
	border: 3px solid #f1f1f1;
	padding: 20px;
}

input[type=text],
input[type=submit] {
	width: 100%;
	padding: 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	font-size: 16px;
	font-weight: 600;
}

/*=========================================
            Footer Section Style
==========================================*/

#footer {
	background-color: #000000;
	margin-top: 100px;
}
.footer-container {
	color: #fff;
	padding: 10px;
}
.footer {
	display: grid;
	grid-template-columns: repeat(2, 1);
}
.footer-info {
	text-align: center;
}
.footer-social {
	text-align: center;
}
.footer-social a {
	text-decoration: none;
	color: #fff;
	font-size: 32px;
	margin-right: 16px;
	transition: .4s all ease;
}

.footer-social a:hover {
	opacity: 0.7;
}

/* =====================
    Media Queries
========================*/
@media only screen and (max-width: 688px) {
	.navbar {
		display: none;
	}
	.banner-title {
		font-size: 24px;
	}
	.header-container {
		flex-direction: column;
	}

	.header-container {
		display: flex;
	}
	.brands {
		flex-direction: column;
		gap: 15px;
	}
	.banner-right img {
		width: 60%;
		margin: 41px 12px 20px 10px;
		margin-right: 144px;
	}

	.banner-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	.products {
		grid-template-columns: repeat(1, 1fr);
	}
	#footer {
		display: none;
	}
}
/* =====================
         tablet devices
========================*/

@media only screen and (min-width: 689px) and (max-width: 992px) {
	.banner-title {
		font-size: 24px;
	}
	.banner-right img {
		display: none;
	}
	.header-container {
		flex-direction: column;
	}

	.header-container {
		display: flex;
	}

	.banner-right img {
		width: 60%;
	}

	.banner-container {
		grid-template-columns: repeat(2, 1fr);
	}
	.products {
		grid-template-columns: repeat(2, 1fr);
	}
	#footer {
		display: none;
	}
}
